<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%gray(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %magenta(%thread{10}) [ %cyan(%-25.25logger{24})] - %boldWhite(%msg%n)</pattern>
        </encoder>
    </appender>
    <timestamp key="byMinutes" datePattern="yyyy-MM-dd'T'HH-mm"/>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>log-${byMinutes}.log</file>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %-25.25logger{24} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>